:root {
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(225, 215, 175);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h1 {
    margin-top: 30px;
    font-size: 60px;
    color: rgb(145, 136, 97);
}

#difficolta {
    border: none;
    width: 250px;
    height: 44px;
    border-radius: 13px;
    padding-left: 7px;
    padding-left: 7px;
    font-size: 25px;
    text-align: center;
}

.inizia {
    border: none;
    font-size: 22px;
    background-color: rgb(145, 136, 97);
    color: rgb(225, 215, 175);
    padding: 8px 16px;
    border-radius: 12px;
    box-shadow: 0px 1px 12px 1px rgb(173, 172, 172);
}

.cont-flex {
    width: 1200px;
    margin: auto;
}

.griglia {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 30px;
}

.q-easy {
    border: solid 2px rgb(82, 195, 82);
    width: calc((100% / 10) - 3px);
    aspect-ratio: 1;
}

.q-medium {
    border: solid 2px rgb(161, 163, 25);
    width: calc((100% / 9) - 3px);
    aspect-ratio: 1;
}

.q-difficult {
    border: solid 2px rgb(222, 32, 29);
    width: calc((100% / 7) - 3px);
    aspect-ratio: 1;
}

.clicked {
    background-color: rgb(108, 192, 220);
}